[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "agno>=2.3.26",
    "fastapi>=0.128.0",
    "hume>=0.13.6",
    "mistralai>=1.10.1",
]
